.content__main
  .content__main__image
    .content__main__image__row
      = image_tag("knife-2496853_1920",size:"",class:"content__main__image__row__up")
      .content__main__image__row__up__text
        まだ見た事がない地方のお土産を紹介しよう