.content_main
  .content_main_image
    .content_main_image_row
      = image_tag("mt-fuji-1352353_1920.jpg",size: "800", class:"content-all__right__image-images")
.post_content
  .post_content_include
    .post_content_include_row
      パパああああああああああああああああああああああああああああああ