* {
  box-sizing: border-box;
  text-decoration: none;
}

.wrapper{
  position:relative;



.footer{
        background-color: burlywood;
        height:100px;
        bottom: 0; 
        display:flex;
        justify-content: space-between;
        padding-left:100px;
        padding-right:100px;
        
    &__image{
      &__content{
        &__name{
        }
      }
    }
  }
}