* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
  a:link { color: #0000ff; }
  a:visited { color: #000080; }
  a:hover { color: #ff0000; }
  a:active { color: #ff8000; }
}


.header{background-color:white;
        width:100%;
        padding-left:100px;
        padding-right:100px;
        display: flex;
        justify-content:space-around;
    
  &__main{
       display: flex;
       justify-content: space-between;
       
       
  }

}