* {
  box-sizing: border-box;
  text-decoration: none;
}




.header{background-color:green;
        height:50px;
        width:100%;
        display:flex;
        justify-content: space-between;
        padding-left:100px;
        padding-right:100px;

  &__main{
   &__content{

  }
 }
}