.contents{
    position:relative;
    background-color: chartreuse;
    width: 100%;
  &__row{
    text-align:center;
    width:900px;
    margin:0 auto;
    box-shadow:5px 5px 10px;
     border:1px solid #000;
    &__include{
      box-sizing: border-box;
      background-size:cover;
      background-color:white;
      width:900px;
    }
  }
}