.show{
      height: 100%;
  &__content{
    text-align:center;
    width:800px;
    margin:0 auto;
    padding-top:40px;
    &__image{
      &__two{
        display: flex;
        justify-content: flex-end;
        &__des{
          padding-right:10px;
        }
      }
    }
  }

  &__title{
    &__text{
    text-align:center;
    width:800px;
    margin:0 auto;
    
      &__explain{
        justify-content: center;
        
      }
        .tab-wrap {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          
        }
        
        .tab-label {
          color: White;
          background: LightGray;
          margin-right: 5px;
          padding: 3px 12px;
          order: -1;
          
        }
        
        .tab-content {
          width: 100%;
          height:100%;
          display: none;
          padding-top:20px;
          padding: 0.5em 1em;
          margin: 2em 0;
          color: #5d627b;
          background: white;
          border-top: solid 5px #5d627b;
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
                
        }
        
        .tab-switch {
          display: none;

          &:checked + .tab-label {
            background: DeepSkyBlue;
        
            + .tab-content {
              display: block;
            }
          }
        
          
        }
      }
    }

   .show-comment{
    &__detail{
      &__form{
        &__submit{
          display: inline-block;
          width: 150px;
          background-color:blue;
          font-size: 16px;
          color: #FFF;
          text-decoration: none;
          font-weight: bold;
          padding: 8px 16px 8px 16px;
          border-radius: 4px;
          position: relative;
          height:50px;
          margin-top:10px;
            &:before{
              position: absolute;
              left: 16px;
              top: 50%;
              margin-top: -8px;
            }
                &:hover{
                  opacity: 0.8;
            }
            
        }
       }
      }
     }


}