* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
  a:link { color:black; }
  a:visited { color:black; }
  a:hover { color:black; }
  a:active { color:black; }

}

img {
  max-width: 100%;
}

