.footer
  .footer__image
    .footer__image__content
      .footer__image__content__name
        日いいいいいいいいいいいいいいいいいいいいいい
  .footer__icon
    .footer__icon__two
      .footer__icon__two__facetwista
        = link_to "#" do
          =icon 'fab','twitter', class: 'footer__icon__two__facetwista__1'
        = link_to "#" do
          =icon 'fab','facebook-square', class: 'footer__icon__two__facetwista__2'
        = link_to "#" do
          =icon 'fab','instagram', class: 'footer__icon__two__facetwista__3'