.footer
  .footer__image
    .footer__image__content
      .footer__image__content__name
        Copyright © arai jumpei
  .footer__icon
    .footer__icon__two
      .footer__icon__two__facetwista
        = link_to image_tag("Twitter_Social_Icon_Circle_Color.png",size:"30", class:"twitter"), 'https://twitter.com/'
        = link_to image_tag("f_logo_RGB-Blue_72.png",size:"30", class:"facebook"), 'https://www.facebook.com/'
        = link_to image_tag("glyph-logo_May2016.png",size:"30", class:"instagram"), 'https://www.instagram.com/'
